<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>mack.servlets.FrontControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarContaController</servlet-name>
        <servlet-class>mack.controllers.impl.BuscarContaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaController</servlet-name>
        <servlet-class>mack.controllers.impl.ListaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirContaController</servlet-name>
        <servlet-class>mack.controllers.impl.InserirContaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverContaController</servlet-name>
        <servlet-class>mack.controllers.impl.RemoverContaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarContaController</servlet-name>
        <servlet-class>mack.controllers.impl.AtualizarContaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>/FrontControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarContaController</servlet-name>
        <url-pattern>/BuscarContaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaController</servlet-name>
        <url-pattern>/ListaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirContaController</servlet-name>
        <url-pattern>/InserirContaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverContaController</servlet-name>
        <url-pattern>/RemoverContaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarContaController</servlet-name>
        <url-pattern>/AtualizarContaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
